<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="TOfficeEntities" connectionString="metadata=res://*/DBModel.TOfficeDataModel.csdl|res://*/DBModel.TOfficeDataModel.ssdl|res://*/DBModel.TOfficeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=T-Office;persist security info=True;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TOfficeEntities" connectionString="metadata=res://*/DBModel.TOfficeDataModel.csdl|res://*/DBModel.TOfficeDataModel.ssdl|res://*/DBModel.TOfficeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=T-Office-Prod;persist security info=True;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TOfficeEntities" connectionString="metadata=res://*/DBModel.TOfficeDataModel.csdl|res://*/DBModel.TOfficeDataModel.ssdl|res://*/DBModel.TOfficeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2K17;initial catalog=T-Office-Prod;persist security info=True;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>
    <!--<add key="toffice:RegLicenseReaderPath" value="C:\Dev\T-Office-Git\T-Office.RegLicenseReader\bin\Release\RegLicenseReader.exe" />-->
    <add key="toffice:RegLicenseReaderPath" value="C:\Dev\T-Office\T-Office.RegLicenseReader\bin\Release\RegLicenseReader.exe" />
    <add key="toffice:FirstInstallmentDuePeriod" value="5" />

    <!--<add key="toffice:TemplateFolder" value="C:\Dev\T-Office-Git\T-Office.Electron\app\file_templates" />-->
    <add key="toffice:TemplateFolder" value="C:\Dev\T-Office\TOffice.WebApp\file_templates" />
    <add key="toffice:TemplateFolderVirtualRoot" value="/file_templates" />
  </appSettings>
</configuration>
