<div class="modal-header bg-color-darken" style="color: white;">
    <h4>Pregled rata za registraciju vozila {{ vehicle.RegistrationNumber }} od {{ vehicleRegistration.RegistrationDate | date: 'dd.MM.yyyy' }}</h4>
</div>

<div class="modal-body">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td style="font-weight: bold">Rok za plaćanje</td>
                <td style="font-weight: bold">Suma</td>
                <td style="font-weight: bold">Plaćena suma</td>
                <td style="font-weight: bold">Status</td>
                <td style="font-weight: bold">Datum plaćanja</td>
                <td style="font-weight: bold; text-align: center;">Admin. zabrana</td>
                <td style="font-weight: bold">Komentar</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="installment in installments">
                <td>{{ installment.InstallmentDate | date: 'dd.MM.yyyy' }}</td>
                <td>{{ installment.Amount }}</td>
                <td>
                    {{ installment.PaidAmount }}
                    <span><i class="fa fa-pencil pull-right cursor-pointer" ng-click="editInstallment(installment, 'PaidAmount')"></i></span>
                </td>
                <td>
                    <span ng-class="resolveStatusCssClass(installment)">{{ installment.IsPaid ? 'Plaćeno' : 'Nije plaćeno' }}</span>
                    <span><i class="fa fa-pencil pull-right cursor-pointer" ng-click="editInstallment(installment, 'IsPaid')"></i></span>
                </td>
                <td>
                    <span ng-class="{ 'toffice-text-gray-smallcaps' : !installment.PaymentDate }">
                        {{ installment.PaymentDate ? (installment.PaymentDate | date: 'dd.MM.yyyy') : 'rata nije plaćena' }}
                    </span>
                    <span><i class="fa fa-pencil pull-right cursor-pointer" ng-click="editInstallment(installment, 'PaymentDate')"></i></span>
                </td>
                <td style="text-align: center;">
                    <span>{{ installment.IsAdminBan ? 'Da' : 'Ne' }}</span>
                    <span><i class="fa fa-pencil pull-right cursor-pointer" ng-click="editInstallment(installment, 'IsAdminBan')"></i></span>
                </td>
                <td>
                    <span ng-class="{ 'toffice-text-gray-smallcaps' : !installment.Note }">
                        {{ installment.Note ? installment.Note : 'nema komentara' }}
                    </span>
                    <span><i class="fa fa-pencil pull-right cursor-pointer" ng-click="editInstallment(installment, 'Note')"></i></span>
                </td>
                <td>
                    <button class="btn btn-xs btn-info" ng-click="printReceipt(installment)"><i class="fa fa-print"></i> Potvrda</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="font-weight: bold">Ukupna suma:</td>
                <td style="font-weight: bold">{{ totalSum | currency:'':2 }}</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Ukupno plaćeno:</td>
                <td style="font-weight: bold">{{ totalPaid | currency:'':2 }}</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal-footer">
    <button ng-click="resetInstallments()" class="btn btn-sm btn-danger pull-left">Poništi sva plaćanja</button>
    <button ng-click="close()" class="btn btn-primary">Zatvori</button>
</div>
