<div class="modal-header bg-color-darken" style="color: white;">
    <h4>Pregled rata za registraciju vozila {{ vehicle.RegistrationNumber }} od {{ vehicleRegistration.RegistrationDate | date: 'dd.MM.yyyy' }}</h4>
</div>

<div class="modal-body">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td style="font-weight: bold">Rok za plaćanje</td>
                <td style="font-weight: bold">Suma</td>
                <td style="font-weight: bold">Status</td>
                <td style="font-weight: bold">Datum plaćanja</td>
                <td style="font-weight: bold">Admin. zabrana</td>
                <td style="font-weight: bold">Komentar</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="installment in installments">
                <td>{{ installment.InstallmentDate | date: 'dd.MM.yyyy' }}</td>
                <td>{{ installment.Amount }}</td>
                <td>
                    <span ng-class="{ 'label label-success': installment.IsPaid, 'label label-danger': !installment.IsPaid }">{{ installment.IsPaid ? 'Plaćeno' : 'Nije plaćeno' }}</span>&nbsp;&nbsp;
                    <span><i class="fa fa-pencil"></i></span>
                </td>
                <td>
                    <span>{{ installment.PaymentDate | date: 'dd.MM.yyyy' }}</span>&nbsp;&nbsp;
                    <span><i class="fa fa-pencil"></i></span>
                </td>
                <td>
                    <i ng-class="{ 'fa fa-check': installment.IsAdminBan, 'fa fa-minus': !installment.IsAdminBan }"></i>&nbsp;&nbsp;
                    <span><i class="fa fa-pencil"></i></span>
                </td>
                <td>
                    <span>{{ installment.Note }}</span>&nbsp;&nbsp;
                    <span><i class="fa fa-pencil"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button ng-click="close()" class="btn btn-primary">Zatvori</button>
</div>
