<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <connectionStrings>
    <add name="TOfficeEntities" connectionString="metadata=res://*/DBModel.TOfficeDataModel.csdl|res://*/DBModel.TOfficeDataModel.ssdl|res://*/DBModel.TOfficeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=T-Office;persist security info=True;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TOfficeEntities" connectionString="metadata=res://*/DBModel.TOfficeDataModel.csdl|res://*/DBModel.TOfficeDataModel.ssdl|res://*/DBModel.TOfficeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=T-Office;persist security info=True;user id=sa;password=StekerSmeker2301;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>
